{% extends "base.html.twig" %}


{% block body %}
<div class="container mt-4">    
        <h1>Créer un espace film</h1>
{{include ("admin/movie/_form.html.twig", {form: form, button: 'Créer' }) }}
        
</div>



</div>
{% endblock %}